body { font-family: 'Segoe UI', sans-serif; background: #eee; }
.panel { 
    background: white; width: 30%; height: 650px; margin: 1.5%; float: left; 
    padding: 15px; box-sizing: border-box; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.habitacion-card {
    width: 80px; height: 80px; margin: 5px; float: left;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    color: white; font-weight: bold; cursor: pointer; border-radius: 5px; font-size: 0.8em;
}
.libre { background-color: #27ae60; } /* Verde */
.ocupada { background-color: #c0392b; } /* Rojo */
.limpieza { background-color: #f39c12; } /* Naranja */
.seleccionada { border: 4px solid #2c3e50; transform: scale(1.05); }

.error { color: red; font-size: 0.7em; display: none; }
.input-error { border: 2px solid red; background: #fee; }
.input-ok { border: 2px solid green; background: #efe; }

.boton { background: #3498db; color: white; border: none; padding: 10px; width: 100%; cursor: pointer; }
.boton-rojo { background: #c0392b; color: white; border: none; padding: 10px; width: 100%; cursor: pointer; margin-top: 10px;}
.boton-naranja { background: #f39c12; color: white; border: none; padding: 10px; width: 100%; cursor: pointer; margin-top: 10px;}