.contenedor {
	 	width:20%;
	 	height:500px;
	 	border:thin black solid;
	 	margin:5px;
	 	padding:5px;
	 	float:left;
}

.seleccionado {
	border:thick red solid;
}

img {
	width:50px;
	height:50px;
	border:thin blue solid;
    margin: 2px;
}